{% extends "index.html" %}

{% block css %}

h3 a{
    font-size:1.0em;
   
    }

#div5 span{
    font-size:200px; 
    color:#91DB39;
    margin-left:100px;
}

{% endblock %}

{% block title %}DTC Bus Routes | Page not found!{% endblock %}

{% block body %}


<div class="offset6" id="div5">
<h3> Oops! Something went wrong.Try refresing <br /> the page
     if the problem persists contact <br /> the 
     <a href="mailto:dhirajthakur92@facebook.com">admin</a>. </h3> <br /> <br />
     
<span class="icon-bug"></span>     
     
     
</div>



{% endblock %}
