{% extends "index.html" %}

{% block css %}

h3 a{
    font-size:1.0em;
   
    }

#div5 span{
    font-size:200px; 
    color:#91DB39;
    margin-left:100px;
}

{% endblock %}

{% block title %}{{ block.super }} | Server Error!{% endblock %}

{% block body %}


<div class="offset6" id="div5">
<h3> Oops <strong><abbr title="A server error occurred!">500</abbr></strong>! We've caught a bug :( <br /> <br />
Try refreshing the page, if the problem <br />
persists contact the <a href="mailto:dhirajthakur92@facebook.com">admin</a>. </h3> <br /> <br /> <br /><br /> <br /> 
     
<span class="icon-bug"></span>     
     
     
</div>



{% endblock %}
