{% extends "index.html" %}

{% block title %}DTC Buses Routes, Bus Timings and other information | {{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=508603022535540";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>


{% endblock %}


{% block css %}
    {{ block.super}}
    <style>
    .homepagesegment {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    #map {
        height: 450px;
    }

    .journeyforms {
        box-shadow: none !important;
        border: none !important;
    }

    #tabbedForms {
        position:absolute;
        top: 0.5%;
        left: 2%;
        width:450px;
        z-index: 1000;
    }

    /* mobile view */
    @media only screen and (max-width: 767px) {
        #map {
            display:none;
        }

        #tabbedForms {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top:0;
            width: 100%;
            left: 0;
        }
    }
    </style>
{% endblock %}

{% block body %}
<div class="ui segments homepagesegment">
    <div class="ui clearing segment" id="map">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading maps... hang on!</div>
        </div>
    </div>

    <div id="tabbedForms" class="ui raised card">
        <div class="content">
            <div class="ui top attached tabular menu">
                <div class="item active" data-tab="tab-trip-planner">Trip Planner</div>
                <div class="item" data-tab="tab-route-details">Route Details</div>
            </div>
            <div class="ui tab bottom attached active segment" data-tab="tab-trip-planner">
                <form class="ui form segment journeyforms">
                    <p>Get buses between two stops.</p>
                    <div class="field">
                        <label>From</label>
                        <div class="ui search focus bussearch">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Source e.g. Badarpur Border">
                                <i class="marker icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>To</label>
                        <div class="ui search focus bussearch">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Destination e.g. ISBT">
                                <i class="marker icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue submit button">Search</div>
                    <div class="ui error message"></div>
                </form>
            </div>
            <div class="ui tab bottom attached segment" data-tab="tab-route-details">
                <form class="ui form segment journeyforms">
                    <p>Get all bus stops on a route.</p>
                    <div class="field">
                        <label>Route Name</label>
                        <div class="ui search focus routesearch">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Route e.g. 182A">
                                <i class="bus icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue submit button">Search</div>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
