<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content=" ">
    <meta name="author" content=" ">
    <meta name="keywords" content=" ">

    <link href="{{ STATIC_URL }}css/modern.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/modern-responsive.css" rel="stylesheet">
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/accordion.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/buttonset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/carousel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/input-control.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/pagecontrol.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rating.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tile-slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tile-drag.js"></script>

    <title>DTC Bus Routes</title>

    <style>
    
    .box { margin-top:160px;
    
        }
    
    
    
    </style>

</head>
<body class="modern-ui" onload=" ">
    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>DTC <span style="font-size:45px; color:#91DB39" class="icon-bus"></span>
                Routes
                </h1>
            </div>
        </div>
     
        <div class="grid">
        <div class="row">       
        <div class="span6"></div>
        <div class="span6">        
             <div class="input-control text box">
               <input type="text" class="with-helper" placeholder="Enter Bus No." />
               <button class="btn-search"></button>
             </div>    
        </div>
        </div>        
        </div>     
    
 
    </body>
</html>
