{% extends "index.html" %}

{% block title %}{{ block.super }} | Search By Bus Stop{% endblock %}

{% block meta_tags %}
  <meta name="description" content="DTC Bus Routes | Search By Bus Stop lets you find buses between two stops/stages. It tells you all the stops the bus goes through between two stops with maps. It also tells you timings of the bus.">
  <meta name="keywords" content="dtc, bus, delhi bus, bus routes, delhi bus route,  delhi bus service, dtc bus, dtc bus service, dtc routes, delhi buses, delhi bus list, delhi bus timings, delhi bus details, delhi bus rote details, delhi transport corporation, delhi bus banner, bus in delhi, bus for delhi, bus for south delhi, bus for north delhi, bus for east delhi, buses in delhi,  delhi bus details, delhi bus route finder, delhi bus route no, delhi bus details, delhi bus route chart, delhi bus route search, delhi bus search by stops, dtc stops, delhi bus stops">

  <meta itemprop="name" content="DTC Bus Routes | Search By Bus Stop">
  <meta itemprop="description" content="DTC Bus Routes | Search By Bus Stop lets you find buses between two stops/stages. It tells you all the stops the bus goes through between two stops with maps. It also tells you timings of the bus.">

  <meta property="og:title" content="DTC Bus Routes | Search By Bus Stop" />
  <meta property="og:description" content="DTC Bus Routes | Search By Bus Stop lets you find buses between two stops/stages. It tells you all the stops the bus goes through between two stops with maps. It also tells you timings of the bus." />

  <meta name="twitter:title" content="DTC Bus Routes | Search By Bus Number">
  <meta name="twitter:description" content="DTC Bus Routes | Search By Bus Stop lets you find buses between two stops/stages. It tells you all the stops the bus goes through between two stops with maps. It also tells you timings of the bus.">
{% endblock %}

{% block js %}
<script type="text/javascript">
$().ready(function () {
    $("#suggstg").focus().autocomplete("{% url 'ajax_stage_search' %}");
    $("#suggstg1").focus().autocomplete("{% url 'ajax_stage_search' %}");
});

function func_dialog(message) {
    $.Dialog({
        'title': 'Oops!',
            'content': message,
            'buttons': {
            'Ok': {
                'action': function () {}
            }

        }
    });
}

function validateform() {
    var from = document.forms.search_by_stage.startstage.value;
    var to = document.forms.search_by_stage.endstage.value;

    if (from === "" || to === "") {
        func_dialog("Source and/or destination can't be empty.<br />Please enter valid source and destination from suggestions.");
        return false;
    }

    var foundstart = $.inArray(from, stg) > -1;
    var foundend = $.inArray(to, stg) > -1;

    if (!(foundstart) || !(foundend)) {
        func_dialog("Please enter the source and destination from suggestions only.");
        return false;
    }
    return true;
}
</script>


<script>
! function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');
</script>

<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=508603022535540";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>


{% endblock %}

{% block css %}
.label {
    display: inline-block;
    line-height: inherit;
    font-size: 0.75em;
    font-weight: bold;
    padding: 2px 4px;
    background-color: rgb(185, 29, 71) !important;
    color: rgb(255, 255, 255) !important;
}
#err {
    position:absolute;
    top: 50%;
    left: 36%;
}
#bar {
    padding-left:50px;
}
.box {
    margin-top:150px;
}
#share {
    height:50px;
    margin-top:100px;
    text-align:center;
    padding-left:8%;
}
.fb-like {
    vertical-align: top;
}
#twitter {
    float:center;
}
#suggstg, #suggstg1 {
    width : 380px;
}
#twostgroute {
    padding-left:2.5%;
}
{% endblock %}

{% block body %}
        <div class="grid">
        <div class="row">
        <div class="span13 offset2" id="twostgroute">
            {% if error %}
            <span id="err" class="label">{{error}}</span>
            {% endif %}
           <form name="search_by_stage" action="{% url 'search_by_stage' %}" method="GET" onsubmit="return validateform();">
           <div class="input-control text box">
            From &nbsp;&nbsp; <input type="text" id="suggstg" name="startstage" class="with-helper" placeholder="Enter source stop name" /> to &nbsp;&nbsp;
            <input type="text" id="suggstg1" name="endstage" class="with-helper" placeholder="Enter destination stop name" />
            <button class="default" type="submit">Find Route!</button>

           </div>
           </form>

        </div>

        </div>
        </div>
{% endblock %}

{% block share %}

 <div id="share" class="span8 offset4">
      <div id="fb-root"></div>
      <div class="fb-like" data-href="http://www.facebook.com/dtcbusroutes" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="segoe ui"></div>


         <a href="https://twitter.com/share" id="twitter" class="twitter-share-button" data-url="http://dhirajthakur.pythonanywhere.com/" data-text="DTC Bus Route finder" data-via="dhirajthakur92" data-hashtags="dtc,busroute" data-dnt="true">Tweet</a>

</div>

{% endblock %}
