{% extends "index.html" %}

{% block title %}{{ block.super }} | Search By Bus Number{% endblock %}

{% block meta_tags %}
  <meta name="description" content="DTC Bus Routes | Search By Bus Number | Get bus stops, timings, fare and map.">
  <meta name="keywords" content="dtc, bus, delhi bus, bus routes, delhi bus route,  delhi bus service, dtc bus, dtc bus service, dtc routes, delhi buses, delhi bus list, delhi bus timings, delhi bus details, delhi bus route details, delhi transport corporation, dtc bus timing, bus in delhi, bus for delhi, delhi bus route map, buses in delhi, delhi bus app, dtc bus android app, delhi bus route no, delhi bus details, delhi bus route chart, delhi bus route search">

  <meta itemprop="name" content="DTC Bus Routes | Search By Bus Number">
  <meta itemprop="description" content="DTC Bus Routes | Search By Bus Number lets you find buses from a bus number. Get bus stops, timings, fare and map.">

  <meta property="og:title" content="DTC Bus Routes | Search By Bus Number" />
  <meta property="og:description" content="DTC Bus Routes | Search By Bus Number lets you find buses from a bus number. Get bus stops, timings, fare and map." />
  <meta name="twitter:title" content="DTC Bus Routes | Search By Bus Number">
  <meta name="twitter:description" content="DTC Bus Routes | Search By Bus Number lets you find buses from a bus number. IGet bus stops, timings, fare and map.">
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$().ready(function () {
    $("#suggbus").focus().autocomplete("{% url 'ajax_bus_number_search' %}");
});

function validateform() {
    var bus = document.forms.search_by_num.bus.value;

    if (bus === "") {
        func_dialog("Oops!","Bus number can't be empty.<br />Please enter a valid bus number from suggestions.");
        return false;
    }
    var foundnum = $.inArray(bus, busno) > -1;
    if (!(foundnum)) {
        func_dialog("Oops!","Please enter a valid bus number from suggestions only.");
        return false;
    }
    return true;
}
</script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        .label {
            display: inline-block;
            line-height: inherit;
            font-size: 0.75em;
            font-weight: bold;
            padding: 2px 4px;
            background-color: rgb(185, 29, 71) !important;
            color: rgb(255, 255, 255) !important;
        }
        #err {
            position:absolute;
            top: 65%;
            left: 45%;
        }
        #bar {
            padding-left:50px;
        }
        .box {
            margin-top:150px;
        }
    </style>
{% endblock %}

{% block body %}
        <div class="grid">
        <div class="row">
        <div class="span5 offset6" id="busnoroute">

         {% if error %}
            <span id="err" class="label">{{error}}</span>
            {% endif %}
           <form name="search_by_num" action="{% url 'search_by_num' %}" method="GET" onsubmit="return validateform()">
           <div class="input-control text box">
            <input type="text" id="suggbus" name="bus" class="with-helper" placeholder="Enter Bus No." />
            <button class="btn-search" type="submit"></button>

           </div>
           </form>

        </div>



        </div>
        </div>
{% endblock %}
