{% extends "index.html" %}

{% block title %}{{ block.super }} | Search By Bus Number{% endblock %}

{% block meta_tags %}
  <meta name="description" content="DTC Bus Routes | Search By Bus Number lets you find buses from a bus number. It tells you all the stop the bus goes through with maps. It also tells you timings of the bus.">
  <meta name="keywords" content="dtc, bus, delhi bus, bus routes, delhi bus route,  delhi bus service, dtc bus, dtc bus service, dtc routes, delhi buses, delhi bus list, delhi bus timings, delhi bus details, delhi bus rote details, delhi transport corporation, delhi bus banner, bus in delhi, bus for delhi, bus for south delhi, bus for north delhi, bus for east delhi, buses in delhi,  delhi bus details, delhi bus route finder, delhi bus route no, delhi bus details, delhi bus route chart, delhi bus route search, delhi bus search by number,dtc bus number, delhi bus number">

  <meta itemprop="name" content="DTC Bus Routes | Search By Bus Number">
  <meta itemprop="description" content="DTC Bus Routes | Search By Bus Number lets you find buses from a bus number. It tells you all the stop the bus goes through with maps. It also tells you timings of the bus.">

  <meta property="og:title" content="DTC Bus Routes | Search By Bus Number" />
  <meta property="og:description" content="DTC Bus Routes | Search By Bus Number lets you find buses from a bus number. It tells you all the stop the bus goes through with maps. It also tells you timings of the bus." />

  <meta name="twitter:title" content="DTC Bus Routes | Search By Bus Number">
  <meta name="twitter:description" content="DTC Bus Routes | Search By Bus Number lets you find buses from a bus number. It tells you all the stop the bus goes through with maps. It also tells you timings of the bus.">
{% endblock %}

{% block js %}

<script type="text/javascript">
$().ready(function () {
    $("#suggbus").focus().autocomplete("{% url 'ajax_bus_number_search' %}");
});

function validateform() {
    var bus = document.forms.search_by_num.bus.value;

    if (bus === "") {
        func_dialog("Bus number can't be empty.<br />Please enter a valid bus number from suggestions.");
        return false;
    }
    var foundnum = $.inArray(bus, busno) > -1;
    if (!(foundnum)) {
        func_dialog("Please enter a valid bus number from suggestions only.");
        return false;
    }
    return true;
}
</script>

<script>
! function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');
</script>

<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=508603022535540";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>


{% endblock %}

{% block css %}
.label {
    display: inline-block;
    line-height: inherit;
    font-size: 0.75em;
    font-weight: bold;
    padding: 2px 4px;
    background-color: rgb(185, 29, 71) !important;
    color: rgb(255, 255, 255) !important;
}
#err {
    position:absolute;
    top: 65%;
    left: 45%;
}
#bar {
    padding-left:50px;
}
.box {
    margin-top:150px;
}
#share {
    height:50px;
    margin-top:100px;
    text-align:center;
    padding-left:8%;
}
.fb-like {
  vertical-align: top;
}
#twitter {
    float:center;
}
{% endblock %}

{% block body %}
        <div class="grid">
        <div class="row">
        <div class="span5 offset6" id="busnoroute">

         {% if error %}
            <span id="err" class="label">{{error}}</span>
            {% endif %}
           <form name="search_by_num" action="{% url 'search_by_num' %}" method="GET" onsubmit="return validateform()">
           <div class="input-control text box">
            <input type="text" id="suggbus" name="bus" class="with-helper" placeholder="Enter Bus No." />
            <button class="btn-search" type="submit"></button>

           </div>
           </form>

        </div>



        </div>
        </div>
{% endblock %}

{% block share %}

 <div id="share" class="span8 offset4">
      <div id="fb-root"></div>
      <div class="fb-like" data-href="http://www.facebook.com/dtcbusroutes" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="segoe ui"></div>


         <a href="https://twitter.com/share" id="twitter" class="twitter-share-button" data-url="http://dhirajthakur.pythonanywhere.com/" data-text="DTC Bus Route finder" data-via="dhirajthakur92" data-hashtags="dtc,busroute" data-dnt="true">Tweet</a>

</div>

{% endblock %}
