{% extends "index.html" %}

{% block title %}{{ block.super }} | Search By Bus Stop{% endblock %}

{% block meta_tags %}
  <meta name="description" content="DTC Bus Routes | Search By Bus Stop | | Get bus stops, timings, fare and map.">
  <meta name="keywords" content="dtc, bus, delhi bus, bus routes, delhi bus route,  delhi bus service, dtc bus, dtc bus service, dtc routes, delhi buses, delhi bus list, delhi bus timings, delhi bus details, delhi bus route details, delhi transport corporation, dtc bus timing, bus in delhi, bus for delhi, delhi bus route map, buses in delhi, delhi bus app, dtc bus android app, delhi bus route no, delhi bus details, delhi bus route chart, delhi bus route search">

  <meta itemprop="name" content="DTC Bus Routes | Search By Bus Stop">
  <meta itemprop="description" content="DTC Bus Routes | Search By Bus Stop lets you find buses between two stops/stages. Get bus stops, timings, fare and map.">

  <meta property="og:title" content="DTC Bus Routes | Search By Bus Stop" />
  <meta property="og:description" content="DTC Bus Routes | Search By Bus Stop lets you find buses between two stops/stages. Get bus stops, timings, fare and map." />
  <meta name="twitter:title" content="DTC Bus Routes | Search By Bus Number">
  <meta name="twitter:description" content="DTC Bus Routes | Search By Bus Stop lets you find buses between two stops/stages. Get bus stops, timings, fare and map.">
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    $().ready(function () {
        $("#suggstg").focus().autocomplete("{% url 'ajax_stage_search' %}");
        $("#suggstg1").focus().autocomplete("{% url 'ajax_stage_search' %}");
    });

    function validateform() {
        var from = document.forms.search_by_stage.startstage.value;
        var to = document.forms.search_by_stage.endstage.value;

        if (from === "" || to === "") {
            func_dialog("Oops!","Source and/or destination can't be empty.<br />Please enter valid source and destination from suggestions.");
            return false;
        }

        if (from === to) {
            func_dialog("Oops!","Source and destination can't be same.<br />Please enter valid source and destination from suggestions.");
            return false;
        }

        var foundstart = $.inArray(from, stg) > -1;
        var foundend = $.inArray(to, stg) > -1;

        if (!(foundstart) || !(foundend)) {
            func_dialog("Oops!","Please enter the source and destination from suggestions only.");
            return false;
        }
        return true;
    }
</script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        .label {
            display: inline-block;
            line-height: inherit;
            font-size: 0.75em;
            font-weight: bold;
            padding: 2px 4px;
            background-color: rgb(185, 29, 71) !important;
            color: rgb(255, 255, 255) !important;
        }
        #err {
            position:absolute;
            top: 50%;
            left: 36%;
        }
        #bar {
            padding-left:50px;
        }
        .box {
            margin-top:150px;
        }
        #suggstg, #suggstg1 {
            width : 380px;
        }
        #twostgroute {
            padding-left:2.5%;
        }
    </style>
{% endblock %}

{% block body %}
        <div class="grid">
        <div class="row">
        <div class="span13 offset2" id="twostgroute">
            {% if error %}
            <span id="err" class="label">{{error}}</span>
            {% endif %}
           <form name="search_by_stage" action="{% url 'search_by_stage' %}" method="GET" onsubmit="return validateform();">
           <div class="input-control text box">
            From &nbsp;&nbsp; <input type="text" id="suggstg" name="startstage" class="with-helper" placeholder="Enter source stop name" /> to &nbsp;&nbsp;
            <input type="text" id="suggstg1" name="endstage" class="with-helper" placeholder="Enter destination stop name" />
            <button class="default" type="submit">Find Route!</button>

           </div>
           </form>

        </div>

        </div>
        </div>
{% endblock %}
